.header-style{
   padding-left: 600px;
}

.nav-baslik{
    color: red;
}
.first-article{
    padding-left: 300px;
}
.h3-baslik{
    color: royalblue;
    padding-left: 400px;
}

.first-list{
    padding-left: 300px;
}
.product-h2{
    color: purple;
    padding-left: 200px;
}

.second-article{
    padding-left: 500px;
}
.index-h4{
    color: slateblue;}

.product-h2{
    color: tomato;
    padding-left: 500px;
}    